tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style218
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Normal 2";}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:씪좭;
	mso-style-id:0;}
.font6
	{color:black;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font7
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.font8
	{color:red;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.font14
	{color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl66
	{mso-style-parent:style0;
	font-size:10.5pt;
	text-align:center;}
.xl67
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl68
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;}
.xl69
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:#95B3D7;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	color:red;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl71
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:#C2D69A;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl73
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl74
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;}
.xl75
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	vertical-align:bottom;
	border:.5pt solid black;}
.xl76
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:bottom;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	background:#C2D69A;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid black;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:bottom;
	border:.5pt solid black;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	text-align:left;
	vertical-align:bottom;
	border:.5pt solid black;}
.xl85
	{mso-style-parent:style218;
	color:black;
	font-size:9.0pt;
	vertical-align:bottom;
	border:.5pt solid black;}
.xl86
	{mso-style-parent:style0;
	border:.5pt solid black;}
.xl87
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#E46D0A;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#E46D0A;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#E46D0A;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#C5BE97;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	text-align:left;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl94
	{mso-style-parent:style218;
	color:black;
	font-size:9.0pt;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl95
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl98
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#E46D0A;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#C5BE97;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;}
.xl103
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:bottom;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	text-align:left;
	vertical-align:bottom;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;}
.xl106
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#C2D69A;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style218;
	color:black;
	font-size:9.0pt;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;}
.xl109
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:yellow;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:yellow;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:yellow;
	mso-pattern:black none;}
.xl113
	{mso-style-parent:style0;
	color:windowtext;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:yellow;
	mso-pattern:black none;}
.xl114
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	text-align:left;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;}
.xl115
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#E46D0A;
	mso-pattern:black none;}
.xl116
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#E46D0A;
	mso-pattern:black none;}
.xl117
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:bottom;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#E46D0A;
	mso-pattern:black none;}
.xl118
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	background:#E46D0A;
	mso-pattern:black none;}
